body{
    margin: 0%;
    padding: 0%;
   
}
a{
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

.header{
    
    background-color: #F6F3F3;
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.logo{
    margin-right: 10px;
}
.options{
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    font-size: 32px;
    margin-left: 135px;
    gap: 40px; 
    cursor: pointer;
    flex-direction: row;
   
}
.login-header { 
    align-items: center;
    background-color: #93D49A;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:100px;
    border-radius: 5px ;
    border: #3C9044;
} 
.menu{
    padding: 50px;
    display: flex;
    align-items: center;

}
.conteudo{
   font-size: 32px;
}
.adote-menu{
    display:inline-block ;
    text-align: center;
    background-color: #93D49A;
    padding: 10px;
    border-radius: 5px;
    border: #3C9044;
}