body {
    margin: 0%;
    padding: 0%;
    background-color: #E3E1E1;
}

a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: #0B2813;
    font-size: 28px;
}

h2 {
    font-size: 60px;
    font-family: "Josefin Sans", sans-serif;
    color: #0B2813;
}

p {
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
}

.header {
    background-color: #A7FDAF;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 10px;
}

.options {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    font-size: 32px;
    gap: 40px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

.options a {
    transition: color 0.3s ease;
}

.login-header {
    background-color: #52C584;
    border-radius: 5px;
    width: auto;
    border: 1px transparent;
    padding: 0px 20px;
}

.login-header:hover {
    background-color: #65df71;
}

.cadastro-header {
    background-color: #52C584;
    border-radius: 5px;
    border: #3F644F;
    padding: 0px 20px;
}

.cadastro-header:hover {
    background-color: #65df71;
}

.menu {
    padding: 50px 90px 90px 40px;
    display: flex;
    align-items: center;
    height: 500px;
}

.conteudo-menu {
    font-size: 32px;

}

.adote-menu {
    display: inline-block;
    text-align: center;
    background-color: #52C584;
    padding: 10px;
    border-radius: 5px;
    border: #3F644F;
}
.img-menu {
    margin-left: auto;
}

.adote-menu:hover {
    background-color: #65df71;
}

.servicos {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    background-color: #A7FDAF;
}

.img-servicos {
    margin-right: 20px;
}

.titulo-servicos {
    margin-bottom: 40px; 
    gap: 40px;
    margin-right: 30px;
}

.conteudo-servicos {
    display: flex;
    flex-direction: column;
}

.texto-servicos {
    max-width: 1000px;
}

.sobre-nos {
    padding: 50px;
    display: flex;
    align-items: center;

}

.conteudo-sobre {
    max-width: 800px;
}

.footer {
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: #A7FDAF;
}


.direitos {
    margin-bottom: 0;

}

#servicos:hover {
    color: #005008;
}

#sobre:hover {
    color: #005008;
}

#contato:hover {
    color: #005008;
}

#adote-ja {
    color: #0B2813;
}

#cachorro-servicos {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #a1f786;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup:target {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    text-align: center;
}

.close-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.close-btn:hover {
    background-color: #0056b3;
}