body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #E3E1E1;
}

header {
    width: auto;
    height: 60px;
    padding: 20px;
    background-color: #A7FDAF;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
p,h2, a, h1, h4{
    color: #0B2813;
}
.frase {
    width: auto;
    height: 0;
    text-align: center;
}

.login-titulo {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.form {
    padding: 10px;
    margin-top: 50px;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background: transparent;
    background-color: #A7FDAF;;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
    display: flex;
    justify-content: center;
}

.div-input {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-self: flex-end;
}

.links-container {
    margin: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#email-input {
    width: 200px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: large;
}

#senha-input {
    width: 200px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: large;
}

#submit-button {
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline solid rgb(21, 139, 27) 3px;
    padding-top: 2px;
}

#submit-button:hover {
    background-color: #2ea02e94;
    text-decoration: none;
    border-radius: 1px;
}

#logo {
    height: 4rem;
    width: 15rem;
}